@media (max-width: 640px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .footer-links {
    width: 100%;
    padding: 2rem 0 0;
  }

  .footer-about {
    width: 100%;
    padding: 2rem 0 0;
  }
}
