#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (max-width: 640px) {
  .responsive-padding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
